.product {
    padding: 10px;
    margin: 6px;
    border-radius: 6px;
    color: white;
}

.red {
    background-color: #e74c3c;
}

.amber {
    background-color: #f39c12;
}

.green {
    background-color: #27ae60;
}